
  <script type="text/javascript" href="https://static.aktiosdigitalservices.com/carritus/Webcomponent/js/dist.min.js?v=Webcomponent"></script>
<div>

  <framework-poll></framework-poll>


  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef='name'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre completo</th>
      <td mat-cell *matCellDef="let row">{{row.surname + ' ' + row.surname2 + ', ' +row.name}}</td>
    </ng-container>
    <ng-container matColumnDef='datebirthday'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de nacimiento</th>
      <td mat-cell *matCellDef="let row">{{row.datebirthday | date:'yyyy-MM-dd'}}</td>
    </ng-container>
    <ng-container matColumnDef='sex'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</th>
      <td mat-cell *matCellDef="let row">{{row.sexo}}</td>
    </ng-container>
    <ng-container matColumnDef='phone'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let row">{{row['prefix'] + ' ' +row.phone}}</td>
    </ng-container>
    <ng-container matColumnDef='country'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pais</th>
      <td mat-cell *matCellDef="let row">{{row['country']}}</td>
    </ng-container>
    <ng-container matColumnDef='lastModification'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ultima modificacion</th>
      <td mat-cell *matCellDef="let row">{{row.lastModification | date:'yyyy-MM-dd HH:mm'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="myColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: myColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
